<h2 mat-dialog-title>Product Edit</h2>
<mat-dialog-content>
  <form #productForm="ngForm" novalidate>
    <div class="form-group">
      <input type="text" [(ngModel)]="product.name" name="pname" class="form-control">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="product.price" name="price" class="form-control">
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-button (click)="editProduct()">Yes</button>
</mat-dialog-actions>
