<h1>
  Product page
</h1>
<!-- {{productName}} -->
<!-- This is interpolation syntax to bid data -->

<div [hidden]="hidden" [innerText]="productName">

</div>


<button class="btn btn-primary" (click)="toggle()">Toggle</button>

<app-product-list
(visibe)="receiveFromChild($event)" (message)="messageFromChild($event)"></app-product-list>


<app-product-list 
(visibe)="receiveFromChild($event)" (message)="messageFromChild($event)"></app-product-list>



<!-- <app-product-list [title]="'Product List'" (visibe)="receiveFromChild($event)" (message)="messageFromChild($event)"></app-product-list> -->

{{message}}
