<h1>{{customerForm.value|json}}</h1>

<form [formGroup]="customerForm">
  <div class="form-group">
    <input class="form-control" type="text" formControlName="name" name="cname" placeholder="Customer Name">
  </div>
  <div class="form-group">
    <input class="form-control" type="date" formControlName="dob" name="dob" placeholder="Date Of Birth">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" formControlName="email" name="email" placeholder="Email">
  </div>
  <div class="form-group">
    <input class="form-control" type="number" formControlName="mobile" name="mobile" placeholder="Mobile Number">
  </div>
  <div formGroupName="address">
    <div class="form-group">
      <input class="form-control" type="text" formControlName="addressLine1" name="addr1" placeholder="Address Line1">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" formControlName="addressLine2" name="addr2" placeholder="Address Line2">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" formControlName="city" name="city" placeholder="City">
    </div>
    <div class="form-group">
      <input class="form-control" type="number" formControlName="pin" name="pin" placeholder="Pin">
    </div>
  </div>
  <div>
    <button type="button" (click)="addCard()" class="btn btn-primary">AddCard</button>
  </div>
  <div formArrayName="cards">
    <div *ngFor="let card of customerForm.controls.cards.controls;let i=index">
      <div [formGroupName]="i">
          <div class="form-group">
              <input class="form-control" type="number" formControlName="cardNumber" name="cardNumber" placeholder="Card Number">
            </div>
            <div class="form-group">
              <input class="form-control" type="number" formControlName="expiryMonth" name="emonth" placeholder="Expiry Month">
            </div>
            <div class="form-group">
              <input class="form-control" type="number" formControlName="expiryYear" name="eyear" placeholder="Expiry Year">
            </div>
            <div class="form-group">
              <input class="form-control" type="number" formControlName="cvv" name="cvvv" placeholder="cvv">
            </div>
            <div>
              <button type="button" (click)="removeCard(i)" class="btn btn-danger">Remove Card</button>
            </div>
      </div>
    </div>
  </div>
</form>
